<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <style>
    .about {
      height: 80vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .jumbotron {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  </style>
</head>
  <body>
    <header>
      <%- include('../partials/header'); %>
    </header>
    <main class="about">
      <div class="row">
        <div class="col-sm-8">
          <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to about page</p>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <%- include('../partials/footer'); %>
    </footer>
  </body>
</html>